<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Video.css' %}">
    <link rel="stylesheet" href="{% static 'Css/fondo.css' %}">
    <link rel="stylesheet" href="{% static 'Css/estilos.css' %}">

    <title>text</title>
</head>

<body>
    <div>
        <video autoplay muted="muted" loop>
            <source src="{% static 'Videos/fnd.mp4' %}" type="video/mp4">
        </video>

        <div class="container">
            
            {% block Contenido %}
                
            {% endblock Contenido %}
                

        </div>

    </div>


</body>

</html>